<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="SNN_Diagram" src="{{ "/assets/img/SNN_image.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> Building A Shallow Neural Network From Scratch </h3>
    <p>I recently was tasked with leading the SNR Analytics team to build a Shallow Neural Network(SNN) to help predict if a patient should receive Immunotherapy treatment using a 3 gene signature we discovered using the JAMMIT Algorithm. To make sure I had a good understanding of how a shallow NN functions and to fully grasp the mathematics behind one I decided to build one from the ground up.</p>
    <a class="project-link" href="https://spencer-long.github.io/website/posts/Shallow_NN">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="probability" src="{{ "/assets/img/estimating_prob.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Estimating Probilities With Python </h3>
    <p>I am currently earning a certificate to improve my Probability skills using the Dataquest.io website. I am creating notebooks to document and note all of the important lessons I am learning. Follow along and you as well can obtain some valuable knowledge!</p>
    <a class="project-link" href="https://spencer-long.github.io/website/posts/Estimating_Probabilities">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="computer_sci" src="{{ "/assets/img/cross.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> Spliting Data & Cross Validation Using The Scikit-Learn Library </h3>
    <p>Learn all about how to split your data for training and testing purposes. Get your feet wet with Cross Validation. Learn how the Scikit Learn Library can help you!</p>
    <a class="project-link" href="https://spencer-long.github.io/website/posts/split_cross_val">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="Pi_Solution" src="{{ "/assets/img/pi.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Estimating Pi Using The Monte Carlo Method </h3>
    <p>Monte Carlo method is a mathematical technique that generates random variables for modelling risk or uncertainty of a certain system. In this code we attempt to solve for Pi using the Monte Carlo Method.</p>
    <a class="project-link" href="https://spencer-long.github.io/website/posts/monte_carlo_pi">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="Pandas" src="{{ "/assets/img/pandas_logo.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> Intro to Pandas Tutorial </h3>
    <p>Follow along as I take you through the Pandas Intro that was created by Dataquest.io. </p>
    <a class="project-link" href="https://spencer-long.github.io/website/posts/pandas">Check it out</a>
  </div>
</div>
