<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="Pandas" src="{{ "/assets/img/pandas_logo.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Intro to Pandas Tutorial </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Check out this awesome tutorial I drafted for Pandas!</p>
    <a class="project-link" href="/posts/pandas">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/cross.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Spliting Data & Cross Validation Using The Scikit-Learn Library </h3>
    <ul>
      
    </ul>
    <p>Learn all about how to split your data for training and testing purposes. Get your feet wet with Cross Validation. Learn how the Scikit Learn Library can help you!</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
